/* Booked Appointments
------------------------------------------------------------------------------------ */
body table.booked-calendar th .monthName a {
	color: rgba(255,255,255,0.75);
}
body table.booked-calendar th .monthName a:hover {
	color: #ffffff;
}
body table.booked-calendar td.blur .date, body table.booked-calendar td.blur:hover .date {
	background: #fdfcfc !important;
    color: #fdfcfc !important;
}
body .body_wrap table.booked-calendar td {
    border: none;
	border: 10px solid #fff;
    font-size: 18px;
    font-family: Droid Serif;
}
body .body_wrap table.booked-calendar thead tr {
    border: 10px solid #fff;
}
body .body_wrap table.booked-calendar {
    table-layout: auto;
    border-spacing: 10px;
    background-color: transparent;
}
body .body_wrap table.booked-calendar tr + tr{
    border-top: none;
}
body .body_wrap table.booked-calendar tr.days th {
    color: #323232 !important;
    padding: 1.3em 0 0.7em;
}
body .body_wrap table.booked-calendar thead th .monthName {
    font-weight: 500;
}
body .body_wrap table.booked-calendar tr.days th {
    font-size: 12px;
    font-weight: 700;
}
body .body_wrap table.booked-calendar th .monthName a {
    top: 0;
}
body .body_wrap table.booked-calendar .fa-arrow-left:before {
    content: "\e905";
    font-family: fontello;
}
body .body_wrap table.booked-calendar .fa-arrow-right:before {
    content: "\e904";
    font-family: fontello;
}
body .body_wrap table.booked-calendar th {
    padding: 1.9em 0;
}
body .body_wrap table.booked-calendar th .page-left, 
body .body_wrap table.booked-calendar th .page-right {
    font-size: 1em;
    top: 1.9em;
    margin-top: 0;
}
body table.booked-calendar tr.entryBlock {
	background-color: #fff;
	padding: 0 10px;
}
body table.booked-calendar tr.entryBlock td{
	background-color: #ddd;
}

body .booked-modal input[type=radio]{
    top: 4px;
}
























