@import url('https://fonts.googleapis.com/css?family=Great+Vibes|roboto&display=swap');
body, html {border: 0;
padding: 0;
margin: 0;
font-family: 'roboto';
}
/* p, h1, h2, a {
font-family: 'roboto' sans-serif;
} */
*{box-sizing: border-box;}
body{position: relative;}
:root{
--buttonColor: #ffa500;
--textColor: #808080;
--textColorPurple: #d705eb; 
}
.contact-fluid i{
    font-size: 50px;
    color: var(--buttonColor);
}
.fa-window-close, .fa-bars{
    font-size: 30px; 
}
.map-responsive{
    /* display: none; */
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
nav{
padding:5px 50px;
transition: all 0.6s ease-in;
justify-self: center;
background-color: white;
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top:0;
left: 0;
/* height: 70px; */
width:100%;
box-shadow: 14px 11px 15px rgba(0,0,0,0.07);
z-index: 10;
}
.navbar-container{
    width: 100%;
    height: 50px;
    /* align-items: center; */
    background-color: red;
    display: block;
}
.nav-links{
    /* background-color: aqua; */
    font-size: 2em;
    font-weight: bold;
    /* padding-right: 30px; */
    /* width: 35%; */
    display: flex;
    justify-content: space-around;
}
/* #about{
    padding-left: 20px;
    padding-right: 20px;
} */
/* dropdown */
.dropdown{
    display: inline-block;
    height: 10px;
    font-size: 16px;  
    outline: none;
    color: var(--textColor);
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-top: 8px!important;
    /* background-color: red; */
    height: 0;
    cursor: pointer;
}
.dropbtn{
    height: auto;
    border-bottom: 2px solid rgb(226, 224, 224);
    padding: 7px 12px;
    color: var(--textColor);
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    width: 70px;
    float: none;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .fa-caret-down{
      display: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  } 
.nav-links a{
    
    /* border-radius: 7px; */
    display: inline-block;
    padding: 7px 12px;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: grey;
    margin-left: 3px;
    
    border-bottom: 2px solid #e2e0e0;
    transition: border-bottom 0.2s;
    

    
}
.nav-links a:hover{
    border-bottom: 2px solid var(--buttonColor);

}

nav.sticky{
    /* padding: 5px 70px; */
    background: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid thin white;
    /* color: greenyellow; */
}
.hamburger{
    display: none;
}
.cancel{
    display: none;
}
@media screen and (max-width: 801px) and (max-width: 1200px){
    .nav-links{
        width: 50%!important;
    }
}
@media screen and (max-width: 800px){
    nav{
        width: 100%;
        display: flex;
        
    }
    .nav-links{
        /* background-color: red; */
        display: none;
        width: 42%;
        /* width: 30%; */
        /* background-color: gold; */
    }
    .dropdown{
        display: inline-block!important;
        margin-top: 0;
    }
    
    .hamburger{
        position: absolute;
        left: 80%;
        display: block;
        cursor: pointer;
    }
    .cancel{
        position: absolute;
        top: 10px;
        left: 92%;
        display: none;
        cursor: pointer;
    }
    
  
}
.container{
    width: 100%;
    height: auto;
    position: absolute;
    transition: all 0.5s;
    
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 8s;
    animation-name: fade;
    animation-duration: 8s;
  }
  
  @-webkit-keyframes fade {
    0% {opacity: .8}
    25% {opacity: .9}
    50% {opacity:  1}
    75% {opacity:  1}
    100% {opacity: 1}
  }
  
  @keyframes fade {
    0% {opacity: .8}
    25% {opacity: .9}
    50% {opacity:  1}
    75% {opacity:  1}
    100% {opacity: 1}
  }
.p-top{
    font-family: 'Great Vibes' ; 
    /* position: absolute; */
    color: white!important; 
    font-size: 3.75em!important; 
    margin-top: -20px!important;
    padding-bottom: 0px!important;
    /* animation: p-top 6s linear ; */
    /* animation-delay: 3s; */
    /* transition: 0.8s; */
}
.detail-caps{
    margin-top: -60px;
    font-family: 'roboto';
    color: #fff;
    font-size: 50px;
    font-kerning: 2px;
    text-transform: uppercase;
    animation-name: detail-caps;
}
.p-down{
    font-size: 1.3em;
    color: #fff;
    font-family: 'roboto';
    margin-top: -30px;
    margin-bottom: 60px;
    animation-name: p-down;

}
@keyframes p-top{
    0% {
        margin-top: -200px;
        opacity: 0;
    }
    20% {
        margin-top: -150px;
        opacity: 0.8; 
    }
    40% {
        margin-top: -100px;
        opacity: .9; 
    }
    60% {
        margin-top: -50px;
        opacity: 1; 
    }
    80% {
        margin-top: -35px;
        opacity: 1; 
    }
    100% {
        margin-top: -20px;
        opacity: 1; 
    }
}
.slide-container{
    width: 100%;
    height: 100vh;
}
#mybgs{
    height: 100%;
}
#mybgs img{
    width: 100%;
    height: 100%;
}
.center{
    text-align: center;
}
.slideshow-container {
    position: absolute;
    width: 80%;
    height: 500px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    top: 3.5%;
    left: 10%;
  }
  #slide a{
    /* background-color: var(--buttonColor); */
    border: 2px solid #ffc107;
    background: linear-gradient(to right, var(--buttonColor) 50%,  var(--textColorPurple)  50%);
    background-size: 200%;
    background-position: left;
    padding: 20px 80px;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-position 0.5s;

  }
  #slide a:hover{
      background-position: right;
      color: #000;
  }
  .get-app{
    border: 2px solid #ffc107;
    background: linear-gradient(to right, var(--buttonColor) 50%,  var(--textColorPurple) 50%);
    background-size: 200%;
    background-position: left;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-position 0.5s; 
  }
  .get-app:hover{
    background-position: right;
    color: #000;
}
  .mySlides {
    display: none;
 
  }
  .mySlide{
      width: 100%;
      height: 100%;
  }
  .botchi-purple{
      color: var(--textColorPurple)
  }
  .botchi-orange{
    color: var(--buttonColor)
}
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.container-fluid{
    /* display: none; */
    max-width: 1000px;
    margin: auto;
    padding: 20px 15px;
}
/* Row */
.row{
    display: flex;
    width: 100%;
}
.col{
    padding: 5px 10px;
    margin: 5px 10px;
}

.col.l-4{
    width: 33.33%;
}
.contact-fluid{
    text-align: center;  
}
.contact-fluid h3{
    padding: 0px;
    margin: 0px;
}
.contact-fluid p{
    color: var(--textColor);
    font-size: 1em;
}
.contact-fluid:hover{
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.103);
    transition: 0.3s;
}
.contact-card{
    width: 20%!important;
    border: 1px solid grey;
    text-align: center;
}
.contact-card a{
    text-decoration: none;
    color: var(--textColor);
}
.contact-card p{
    color: var(--textColor);  
}
.contact-fluid{
    max-width: 100%!important;
}
.contact-row{
    justify-content: space-evenly;
}

/* card */
.card{
    position: relative;
    min-height: 400px;
    max-height: 400px;
    padding-bottom: 10px;
    transition: 0.3s;
    cursor: pointer;
    min-width: 260px;
}
.card:hover{
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.103);
    transition: 0.3s;
}
.card,.card .card-img>img{
    width: 100%;
}
.card, .card>.card-content{background: #fff;}
.card .card-content{
    text-align: center;
    padding: 35px 15px;
    max-width: 80%;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 10%;
    right: 10%;
    z-index: 2;
}
.card .card-content h4{
    font-size: 22px!important;
    font-weight: bold;
    margin: 5px;
    line-height: 2;

}
.card .card-content p{
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 15px 20px 15px;
}

.card .card-content a.button{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    background-color:var(--buttonColor);
    color: #fff;
    transition: 0.3s background-color;
}
.card .card-content a.button:hover{
    background-color: var(--textColorPurple);
    transition: 0.3s background-color;
}
.contact-title{
    color: black!important;
}

/* Large Screens */
@media screen and (max-width:1024px) {
    .row{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .col.m-6{
        width: 33.33%!important;
    }
}
/* Medium Screens - IPad */
@media screen and (max-width:768px) {
    .row{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .col.m-6{
        width: 50%!important;
    }
}
/* Small Screens-Phone */
@media screen and (max-width:414px) {
    .row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .col.s-12{
        width: 100%!important;
        margin: 0px;
    }
}
@media screen and (max-width:768px){
    .contact-card{
        margin-bottom: 20px!important;
    }
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    display: none;
    text-align: left;
    padding: 10px;
    /* background: rgba(0, 0, 0, 0.5); */
    position: absolute;
    bottom:18px;
    /* z-index: 30; */
  }
  
  /* The dots/bullets/indicators */
  .dot {
      position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}
  .condrop{
    width: 70vh;
    height: 71.6vh;
    border: 1px green solid;
    position: absolute;
    top: 125px; 
  }

  .about{
      width: 100%;
      /* background-color: aqua; */
      /* height: 40vh!important; */
      margin-top: 30px!important;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;

  }
  .about-content{
      width: 70%;
      /* border: 2px solid red; */
      /* height: 90%; */
      align-self: center;
      text-align: center;
      padding: 20px 0px;
      margin: 0;
  }
  .about-botchi{
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
      height: auto;
      padding: 20px;
      
  }
  .about-botchi:hover{
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.103);
    transition: 0.3s;
}
.text{
    text-align: justify;
}
  .purple h1{
      color: var(--textColorPurple);
      letter-spacing: 1px;
      font-family: 'poppins';
  }
  .orange h1{
    color: var(--buttonColor);
    letter-spacing: 1px;
    font-family: 'poppins';
}

  .about-content p{
    color: rgb(27, 27, 27);
    font-size: 18px;
}
.about-content #about{
    color: var(--buttonColor);
    font-size: 22px;
    font-family: 'tangerine' sans-serif;
}
.about-content h1{
    font-weight: lighter;
    font-stretch: wider;
}
.seperator-line{
    width: 150px;
    border-bottom: 1.5px solid #ffa500;
    margin: auto;
    margin-top: -10px; 

}
/* ipad */


@media screen and (max-width:900px) and (min-width: 700px){
    .slide-container{
        height: 600px;
    }
    .slideshow-container {
        height: 400px;
        top: 3.5%;
        left: 10%;
      }
    .detail-caps{
        font-size: 30px!important;  
        margin-top: -45px;  
    }
    .p-top{
        font-size: 2.5em!important; 
    }
    .p-down{
        font-size: 1.1em!important;
        margin-top: -20px;
    }
    .about-content{
        width: 70%!important;
        
    }
    .about-content #about{
        font-size: 2em;
    }
    .about-content p{
       font-size: 1.5em; 
    }
   
   
}
@media screen and (max-width:699px) and (min-width: 200px) {
    .slide-container{
        height: 450px!important;
    }
    .slideshow-container{
        width: 80%!important;
        height: 300px!important;
        top: 2%;
    } 
    .detail-caps{
        font-size: 1.2em!important;  
        margin-top: -30px;  
        margin-bottom: 40px;  
    }
    .p-top{
        font-size: 1.8em!important; 
    }
    .p-down{
        display: none;
        font-size: 1.0em!important;
        margin-top: -18px;
        margin-bottom: 40px;
    }
    #slide a{
        padding: 15px 50px;
    }
   /* about section  */
    .about{
        margin: 0px!important;
    }
    .about-content{
        margin: 0px!important;
        /* border: 1px solid red!important; */
        width: 70%!important;
    }
    .about-content #about{
        margin: 0px!important;
        padding: 0px!important;
    }
    .about-content h1{
        padding: 0px!important;
        font-size: 1.2rem!important;
    }
    .seperator-line{
        width: 100px!important;
    }
    
}
/* footer */
ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}
/* stick the footer to bottom of the page */
.container {
    /* flex: 1;    same as flex-grow: 1; */
}
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}
/* style the news letter forms */
form {
    display: flex;
    flex-wrap: wrap;
}
input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}
/* line up social footer */
.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}
/* set up legal screen */
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}
/* footer ends */
